body {
  text-align: center;
  font-family: Arial, sans-serif;
  background: #70c5ce;
  margin: 0;
}

canvas {
  background: #9be7ff;
  border: 3px solid #000;
  width: 100vw;
  max-width: 400px;
  height: 80vh;
  max-height: 500px;
}

button {
  font-size: 20px;
  padding: 10px 20px;
  margin: 10px;
  cursor: pointer;
}
